*table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 6px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

h2 {
    text-align: center;
}

p {
  text-align: center;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.badge {
    font-size: 0.9rem;
    padding: 5px 15px;
    border-radius: 4px;
}

.bg-success { 
    background-color: #28a745; 
    color: white; 
}
.bg-danger { 
    background-color: #dc3545; 
    color: white; 
}
.bg-info { 
    background-color: #17a2b8; 
    color: white; 
}
.bg-warning { 
    background-color: #ffc107; 
    color: black; 
}
